<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <menu>
      <ul class="menu__ul">
        <li class="menu__list"><a href="#" class="menu__link"><span>HOME</span></a>
            <ul class="menu__submenu">
        <li class="menu__list"><a href="#" class="menu__link"><span>ABOUT</span></a></li>
        <li class="menu__list"><a href="#" class="menu__link"><span>BLOG</span></a></li>
        <li class="menu__list"><a href="#" class="menu__link"><span>PRODUCTS</span></a></li>
        <li class="menu__list"><a href="#" class="menu__link"><span>LOREM IPSUM</span></a></li>
        <li class="menu__list"><a href="#" class="menu__link"><span>DOLOR SIT AMET</span></a></li>
    </ul>
        </li>
      </ul>
    </menu>

</body>

</html>
