<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>`Document`</title>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <menu>
  <ul class="menu__ul">
    <li class="menu__list"><a href="#" class="menu__link"><span class="line"></span><span class="menu__align-1">HOME</span></a>
  <ul class="menu__dropdown">
    <li class="menu__dropdownd-list"><a href="#" class="menu__dropdown-link"><span class="menu__align-2">ABOUT</span></a></li>
    <li class="menu__dropdownd-list"><a href="#" class="menu__dropdown-link"><span class="menu__align-3">BLOG</span></a></li>
    <li class="menu__dropdownd-list"><a href="#" class="menu__dropdown-link"><span class="menu__align-4">PRODUCTS</span></a></li>
    <li class="menu__dropdownd-list"><a href="#" class="menu__dropdown-link"><span class="menu__align-5">LOREM IPSUM</span></a></li>
    <li class="menu__dropdownd-list"><a href="#" class="menu__dropdown-link"><span class="menu__align-6">DOLOR SIT AMET</span></a></li>
  </ul>
  </li>
  </ul>
</menu>

</body>
</html>


<ul class="main">
  <li class="first_level"><a href=""></a>
    <ul class="dropdown">
      <li class="dropdown_li"></li>
      <li class="dropdown_li"></li>
      <li class="dropdown_li"></li>
    </ul>
    </li>
</ul>
</li>
