@font-face {
    font-family: 'Lucida';
    src: url('../fonts/lsansuni-webfont.woff2') format('woff2'), url('../fonts/lsansuni-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#wrapper {
    width: 910px;
    margin: 0 auto;
    padding-left: 43px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.clearfix:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: ' ';
}


/*HEAD*/

header {
    padding-top: 19px;
}

address {
    float: left;
    width: auto;
    height: 27px;
    padding: 8px 0 0 9px;
    font: 18px/19px Arial, Helvetica, sans-serif;
    color: #5e696d;
}

.mobile {
    float: left;
}

address>span {
    position: relative;
    display: inline-block;
    padding-top: 1px;
    margin: 0px 0 0 3px;
    letter-spacing: 0.55px;
}

.login {
    display: block;
    float: left;
    width: 500px;
    height: 32px;
    margin: 3px 0 0 14px;
    padding: 5px 0 0 0;
    background: url('../img/login.png') no-repeat;
    font-family: Lucida;
    color: #ffffff;
    font-size: 11px;
}

input[type=text],
input[type=password] {
    float: left;
    height: 12px;
    width: 108px;
    border: 1px solid #d6d8d9;
}

input[type=text] {
    margin: 0 0 0 27px;
}

input[type=password] {
    margin: 0 0 0 9px;
}

input[placeholder] {
    padding: 0 0 2px 2px;
    letter-spacing: 0.5px;
}

input[type=submit] {
    float: left;
    height: 15px;
    width: 31px;
    background: none;
    margin: 0 0 0 4px;
    padding: 0 0 0 5px;
    color: #ffffff;
    font-size: 11px;
    letter-spacing: 0.4px;
    border: 0;
    align-content: center;
    cursor: pointer;
}

section.login>span {
    display: block;
    float: left;
    margin: 3px 0 0 0;
    width: 9px;
    font-size: 12px;
    letter-spacing: -1px;
}

section.login>a {
    display: block;
    float: left;
    text-decoration: none;
    margin: 3px 0 0 1px;
    font-family: Lucida;
    font-size: 10px;
    letter-spacing: 0.3px;
    color: #ffffff;
}

section>a.reg:first-child {
    letter-spacing: 0.3px;
}

section>a.reg:last-child {
    float: right;
    margin-right: 13px;
    text-decoration: underline;
    font-size: 11px;
    letter-spacing: 0.6px;
    color: #d6d8d9;
}

nav {
    display: block;
    float: right;
    height: 32px;
    width: 86px;
    background-image: url('../img/navi.png');
    background-repeat: no-repeat;
    padding: 8px 0 0 0;
}

nav>a {
    display: inline-block;
    margin: -1px -8.1px 1.9px 12.7px;
    text-decoration: none;
    color: #b1bcc0;
}

nav>a>img {
    margin: 0 0 2px 0;
    border: none;
}


/*MENU*/

menu {
    background: url('../img/menu.png') no-repeat;
    height: 25px;
    width: 791px;
    padding: 4px 0 8px 127px;
    margin: 3px 0 9px 0;
}

menu>ul {
    width: 600px;
}

menu>ul>li {
    display: block;
    float: left;
    letter-spacing: -0.2px;
}

menu>ul>li>a {
    display: block;
    height: 20px;
    width: auto;
    text-decoration: none;
    font-family: Lucida;
    font-size: 14px;
    color: #b1bcc0;
    text-align: center;
}

.menu-link-1 {
    padding: 6.5px 19px 0px 21px;
}

.menu-link-2,
.menu-link-3,
.menu-link-4 {
    padding: 6.5px 15px 0px 15px;
}

.menu-link-5 {
    padding: 6.5px 10px 0px 10px;
}

menu>ul>li>a:hover {
    background: rgba(31, 104, 135, 1);
    background: -moz-linear-gradient(top, rgba(31, 104, 135, 1) 0%, rgba(12, 51, 87, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(31, 104, 135, 1)), color-stop(100%, rgba(12, 51, 87, 1)));
    background: -webkit-linear-gradient(top, rgba(31, 104, 135, 1) 0%, rgba(12, 51, 87, 1) 100%);
    background: -o-linear-gradient(top, rgba(31, 104, 135, 1) 0%, rgba(12, 51, 87, 1) 100%);
    background: -ms-linear-gradient(top, rgba(31, 104, 135, 1) 0%, rgba(12, 51, 87, 1) 100%);
    background: linear-gradient(to bottom, rgba(31, 104, 135, 1) 0%, rgba(12, 51, 87, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1f6887', endColorstr='#0c3357', GradientType=0);
    color: #ffffff;
    border-radius: 25px;
    height: 20px;
    width: auto;
    text-align: center;
}

.basket {
    display: block;
    float: right;
    height: 27px;
    width: 233px;
    padding: 4px 0 0 0;
}

.basket>a {
    float: left;
}

.basket>a {
    text-decoration: none;
}

.basket span {
    display: inline-block;
    float: left;
    font-family: Arial;
    color: #fff;
    letter-spacing: 0.5px;
}

.basket>.span-name {
    padding: 3px 0 0 7px;
    font-size: 11px;
    color: #929b9f;
}

.basket>.span-id {
    padding: 3px 0 0 1px;
    font-size: 13px;
    color: #0d5a8f;
    letter-spacing: 0.3px
}


/*SEARCH*/

.search-main {
    padding: 0 0 0 6px;
    height: 150px;
    width: 900px;
}

.search-left {
    display: block;
    float: left;
    height: 133px;
    width: 412px;
    border: 1px solid #adadae;
    border-radius: 18px;
}

.search-mid {
    display: block;
    float: left;
    margin: 0 0 0 15px;
    height: 133px;
    width: 191px;
    border: 1px solid #adadae;
    border-radius: 18px;
}

.search-right {
    display: block;
    float: left;
    margin: 0 0 0 10px;
    height: 133px;
    width: 266px;
    border: 1px solid #adadae;
    border-radius: 14px;
}


/*CONTENT*/

.sidebar {
    display: block;
    float: left;
    width: 190px;
    padding: 4px 0 0 0;
    font-family: Lucida;
    color: #114165;
    letter-spacing: -0.1px;
}

aside {
    display: block;
    position: relative;
    height: 25px;
    width: 181px;
    font-size: 11px;
    border: 1px solid #79878d;
    border-radius: 25px;
    letter-spacing: 1.1px;
    vertical-align: middle;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.56);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.56);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.56);
}

aside>div {
    display: block;
    float: left;
    padding: 1px 0 0 2px;
}

aside>span {
    display: block;
    padding: 7px 0 0 29px;
    color: #315a7a;
    letter-spacing: 1.2px;
}

.tire,
.disk,
.bolt {
    display: inline;
    float: left;
    height: 26px;
    width: 148px;
    margin: 13px 0 0 4px;
    border: 1px solid #79878d;
    border-radius: 25px;
    font-size: 14px;
    color: #114165;
}

.tire>img,
.disk>img,
.bolt>img {
    display: block;
    float: left;
    padding: 1px 0 0 3px;
}

.tire>span,
.disk>span,
.bolt>span {
    display: block;
    float: left;
    padding: 8px 0 0 2px;
}

.name {
    display: block;
    float: left;
    padding: 5px 0 0 38px;
}

.name>li {
    display: block;
    float: left;
}

.name>li>img {
    display: block;
    float: left;
    padding: 4px 0 0 0;
}

.name>li>a {
    display: block;
    float: left;
    margin: 3px 0 0 3px;
    font-size: 13px;
    color: #465961;
    text-decoration: none;
}

ul>li>a:hover {
    display: block;
    float: left;
    font-family: arial;
    font-style: italic;
    font-weight: bold;
    font-size: 13px;
    color: #0c3256;
    text-decoration: underline;
}

.name>li:nth-child(2) {
    padding: 8px 0 0 0;
}

.name>li:nth-child(2)>img {
    padding: 5px 0 0 0;
}

.name>li:nth-child(3) {
    padding: 11px 0 0 0;
}

.name>li:nth-child(4) {
    padding: 11px 0 0 0;
}

.disk {
    margin: 3px 0 0 4px;
}

.disk>span {
    padding: 7px 0 0 2px;
}

.disk+ul.name {
    padding: 3.5px 0 0 37.7px;
}

.disk+ul.name>li>img {
    padding: 6px 0 0 0;
}

.disk+ul.name>li:nth-child(2)>a {
    padding: 2.6px 0 0 0;
}

.disk+ul.name>li:nth-child(3) {
    padding: 8px 0 0 1px;
}

.disk+ul.name>li:nth-child(3)>a {
    padding: 3.1px 0 0 2px;
    margin: 1px 0 0 0;
}

.disk+ul.name>li:nth-child(4) {
    padding: 10px 0 0 0;
}

.bolt {
    margin: 4px 0 0 4px;
}

.bolt+ul.name>li:nth-child(4) {
    padding: 9px 0 0 0;
}

.bolt+ul.name>li:nth-child(4)>img {
    padding: 7px 0 0 0;
}


/*MAIN*/

main {
    float: left;
    display: block;
    width: 498px;
    height: 611px;
    margin-left: 3px;
    padding: 15px 5px 0 22px;
    background-color: background: rgba(229, 231, 232, 1);
    background: -moz-linear-gradient(top, rgba(229, 231, 232, 1) 0%, rgba(147, 167, 176, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(229, 231, 232, 1)), color-stop(100%, rgba(147, 167, 176, 1)));
    background: -webkit-linear-gradient(top, rgba(229, 231, 232, 1) 0%, rgba(147, 167, 176, 1) 100%);
    background: -o-linear-gradient(top, rgba(229, 231, 232, 1) 0%, rgba(147, 167, 176, 1) 100%);
    background: -ms-linear-gradient(top, rgba(229, 231, 232, 1) 0%, rgba(147, 167, 176, 1) 100%);
    background: linear-gradient(to bottom, rgba(229, 231, 232, 1) 0%, rgba(147, 167, 176, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e5e7e8', endColorstr='#93a7b0', GradientType=0);
    border-top: 1 px solid #f3f4f4;
    border-bottom: 1px solid #a1b3bb;
    border-left: 1px solid #e6eaec;
    border-right: 1px;
    font-family: Lucida;
}

.cash-flow {
    float: left;
}

.products {
    display: block;
    float: left;
    padding-bottom: 26px;
}

.prod-name {
    text-align: center;
}

.prod-name>p>a {
    font-size: 15px;
    color: #206988;
    text-decoration: none;
}

.prod-name>p:last-child {
    color: #1f2528;
    font-size: 13px;
}

.price {
    display: block;
    text-align: center;
    font-family: arial;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    color: #114165;
    text-decoration: none;
}

.product-2,
.product-5,
.product-8 {
    padding-left: 27px;
    padding-right: 30px;
}


/*CHECKBOX FILTER*/

.filter {
    display: block;
    float: right;
    padding: 1px 0 0 9px;
    font-family: Lucida;
    font-size: 14px;
    color: #0c3256;
}

div.brands {
    height: 25px;
    width: 180px;
    border: 1px solid #8b979c;
    border-radius: 25px;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.56);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.56);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.56);
}

.brands>img {
    display: block;
    float: left;
    padding: 1px 0 0 3px;
}

.brand-title {
    display: block;
    float: left;
    padding: 6px 0 0 5px;
    color: #3d5b78;
}

div.tires {
    height: 25px;
    width: 136px;
    margin: 16px 0 0 14px;
    border: 1px solid #8b979c;
    border-radius: 15px;
}

div.tires>img {
    display: block;
    float: left;
    padding: 0 0 0 5px;
}

div.tires>span {
    display: block;
    float: left;
    padding: 6px 0 0 3px;
    color: #3d5b78;
}

div.checkbox {
    display: block;
    float: left;
    width: 120px;
    padding: 6px 0 0 22px;
}

input[type='checkbox'] {
    display: inline-block;
    float: left;
    height: 15px;
    width: 10px;
}

.span {
    display: inline-block;
    float: right;
    font-family: Lucida;
    font-size: 13px;
    color: #465961;
}

.checkbox-1>.span {
    padding: 3px 41px 0 0;
}

.checkbox-2 {
    margin: 5px 0 0 0;
}

.checkbox-2>.span {
    padding: 2px 42px 0 0;
}

.checkbox-3 {
    margin: 3px 0 0 0;
}

.checkbox-3>.span {
    padding: 3px 42px 0 0;
}

div.disks {
    display: block;
    float: left;
    height: 26px;
    width: 136px;
    margin: 10px 0 0 24px;
    border: 1px solid #8b979c;
    border-radius: 15px;
}

div.disks>img {
    display: block;
    float: left;
    padding: 0 0 0 3px;
}

div.disks>span {
    display: block;
    float: left;
    padding: 6px 0 0 4px;
    letter-spacing: -1px;
    color: #3d5b78;
}

div.disks+div.checkbox {
    margin: 0 0 0 11px;
}

div.disks+div.checkbox>div.checkbox-1>p.span {
    padding: 5px 43px 0 0;
}

div.disks+div.checkbox>div.checkbox-2>p.span {
    padding: 4px 43px 0 0;
}

div.disks+div.checkbox>div.checkbox-3 {
    padding: 2px 0 0 0;
}

div.disks+div.checkbox>div.checkbox-3>p.span {
    padding: 3px 43px 0 0;
}

input.filter-submit {
    display: block;
    float: left;
    margin: 15px 0 0 33px;
    height: 25px;
    width: 83px;
    background: rgba(31, 104, 135, 1);
    background: -moz-linear-gradient(top, rgba(31, 104, 135, 1) 0%, rgba(12, 51, 87, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(31, 104, 135, 1)), color-stop(100%, rgba(12, 51, 87, 1)));
    background: -webkit-linear-gradient(top, rgba(31, 104, 135, 1) 0%, rgba(12, 51, 87, 1) 100%);
    background: -o-linear-gradient(top, rgba(31, 104, 135, 1) 0%, rgba(12, 51, 87, 1) 100%);
    background: -ms-linear-gradient(top, rgba(31, 104, 135, 1) 0%, rgba(12, 51, 87, 1) 100%);
    background: linear-gradient(to bottom, rgba(31, 104, 135, 1) 0%, rgba(12, 51, 87, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1f6887', endColorstr='#0c3357', GradientType=0);
    border-radius: 15px;
    -webkit-box-shadow: 1px 1px 5px 1px rgba(190, 192, 193, 1);
    -moz-box-shadow: 1px 1px 5px 1px rgba(190, 192, 193, 1);
    box-shadow: 1px 1px 5px 1px rgba(190, 192, 193, 1);
    font-family: arial;
    font-size: 11px;
    letter-spacing: 1px;
}

.input[value="ВЫБРАТЬ"] {
    display: block;
    padding: 0 0 0 0;
    letter-spacing: 0.8px;
}


/*FOOTER*/

.sponsors {
    padding: 38px 1px 1px 119px;
}

footer {
    height: 99px;
    width: 908px;
    margin: 20px 0 0 3px;
    background-color: #213a4d;
}

.about {
    display: block;
    text-align: center;
    padding-top: 13px;
    font-family: arial;
    font-size: 12px;
    color: #bec6c9;
    letter-spacing: 0.6px;
}

.about>a {
    color: #bec6c9;
    text-decoration: none;
}

.about>a:hover {
    color: #52abcb;
}

.copyright {
    display: block;
    padding-top: 17px;
    text-align: center;
    font-size: 10px;
    color: #7f4740;
    letter-spacing: 0.4px;
}
