table {
  height: 540px;
  width: 500px;
  border-collapse: collapse;
  border: none;
}

td {
  border: 9px solid #000;;
}

.row_1 {
  height: 47px;
}

.row_2>td {
  width: 47px;
}

.row_2,
.row_3 {
  height: 63px;
}

.row_6,
.row_7 {
  height: 60px;
}

.row_8,
.row_9 {
  height: 30px;
}

.row_1>td:last-child {
  background-color: #fff460;
  border-right: 9px solid #000;
  border-bottom: 9px solid #000;
  border-left: 9px solid #000;
}

.row_2>td:nth-child(2) {
  width: 60px;
  background-color: #ff6c4e;
}

.row_2>td:last-child {
  background-color: #fff460;
}

.row_6>td:first-child {
  background-color: #3a3a3b;
}

.row_7>td:first-child {
  background-color: #fff460;
}

.row_7>td:nth-child(2) {
  background-color: #3a3a3b;
}

.row_7>td:nth-child(4) {
  background-color: #104f8e;
}

.row_8>td:nth-child(2) {
  background-color: #3a3a3b;
}
