@media (min-width:768px) {


header menu {
justify-content: space-around;
}

header .header__logo {
	text-align: left;
	padding: 0 0 0 10px;
}

header .menu__ul {
	display: none;
}

header .header__menu768 {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 100%;
    padding: 24px 14.6% 0 1.5%;
}

header .header__menu768 a{
	font-size: 24px;
	line-height: 33px;
	color: #ffffff;
	text-decoration: none;
	text-shadow: 0 2px #5c5a5f;
}

header nav {
	margin: 41px 0 304px 0;
}

header .nav__description {
    padding: 105px 0 78px 4.6%;
}

header .nav__h1 {
    float: left;
    margin: 0 0 0 -2px;
    font-size: 48px;
    line-height: 36px;
    letter-spacing: -0.3px;
}

header .nav__h2 {
    clear: both;
    float: left;
    padding: 7px 0 0 0;
    font-size: 24px;
    line-height: 36px;
}

header .nav__p {
    clear: both;
    display: block;
    float: left;
    width: 300px;
    height: 100px;
    padding: 0 0 0 0;
    overflow: hidden;
    font-family: Open Sans Light;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    text-align: left;
}

header .nav__p span {
    float: left;
    margin: -4px 0 0 0;
    line-height: 24px;
}


header .nav__description-bg {
height: 400px;
}

header .nav__iphone {
    display: block;
float: right;
height: 423px;
width: 273px;
margin: -22px 5.5% 0 0;
background: url(../img/iphone.png) 0 0 no-repeat;
background-size: 274px;
}

header .nav_buttons {
    position: static;
    float: right;
    padding: 14px 18% 0 0;
}

/*MAIN*/

main .main__about {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
	height: 342px;
    padding: 71px 2% 20px 3%;
}

main .main__about section {
    width: 200px;
    padding: 0 0 0 0;
}

main .main__img {
    float: none;
}

main section section.main__content-justify {
    float: right;
    width: 154px;
    height: 178px;
}

main .main__about span {
    clear: both;
}

main .main__about-1,
main .main__about-2,
main .main__about-3 {
    height: 285px;
}

main .main__about-1 .main__img {
    margin: -1px 0 0 2px;
}

main .main__h1-1 {
    padding: 0 0 0 2px;
}

main .main__p-1 {
    padding: 0 0 0 3px;
}

main section .main__span-1 {
    margin: 5px 2px 0 0;
}

main .main__about-2 {
    margin: 0 10px 0 0;
}

main .main__about-2 .main__img {
    margin: -1px 0 0 2px;
}

main .main__h1-2 {
    padding: 0 0 0 2px;
}

main .main__p-2 {
    padding: 0 0 0 3px;
}

main section .main__span-2 {
    margin: 5px 2px 0 0;
}

main span.main__span-3 {
    margin: 4px 5px 0 0;
}


/*MAIN__ABOUT: ALIGNMENT*/


main .main__content {
	flex-flow: row nowrap;
    justify-content: space-between;
    height: 386px;
    padding: 99px 0 0 10px;
}

main .main__testimonials {
	    width: 339px;
        /*padding: 0 2.45% 0px 4.65%;*/
        padding: 0 0 0 0;
        margin: 0 0 0 0;
}

main .main__testimonials-container {
    width: 314px;
    padding: 29px 0 0 37px;
    margin: 0 0 0 0;
}

main .main__testimonials-h1,
main .main__testimonials-h2 {
    display: block;
    font-size: 24px;
    line-height: 24px;
}

main .main__testimonials-p {
    font-size: 16px;
    padding: 8px 0 0 0;
    height: 146px;
}

main .main__testimonials-portrait {
    background: url(../img/testimonial_portrait.png) 1px 18px no-repeat;
}

main .main__updates {
    width: 46.7%;
    padding: 33px 0 0 0;
}

main .main__updates__container {
    margin: 18px  0 0 2px;
    padding: 0 0 0 0;
}

main .main__updates__container-img {
    background: url(../img/updates_sprite.png) 0 -96px no-repeat;
}

main .main__updates .main__updates__container:nth-child(3) .main__updates__container-img {
    background: url(../img/updates_sprite.png) -48px -96px no-repeat;

}

main .main__updates .main__updates__container:nth-child(4) .main__updates__container-img {
    background: url(../img/updates_sprite.png) -96px -96px no-repeat;
}

main .main__updates__container-img {
    margin: 1px 17px 0 0;
}

main .main__updates-more {
        padding: 18px 20px 0 0;
}

main .main__testimonials-input {
    padding: 23px 0 0 140px;
}

main .main__button-2 {
    margin: 0 0 0 3px;
}

main .main__button-3 {
    margin: 0 0 0 3px;
}

main .main__button-4 {
    margin: 0 0 0 3px;
}

main .main__trust {
    justify-content: space-between;
    height: 94px;
    padding: 10px 14px 14px 14px;
}

main .main__trust img{
    padding: 0;
    margin: 0;
}

main img.main__trust-mark_2 {
    margin: 0 0 0 -1px;
}

main img.main__trust-mark_3 {
    margin: 0 0 0 -2px;
}

main img.main__trust-mark_4 {
    margin: 0 0 0 8px;
}


/*FOOTER*/

footer {
        background-position: top 397px center;
}

footer .footer__categories {
	flex-flow: row nowrap;
    justify-content: space-between;
        height: 194px;
    padding: 102px 0 100px 11px;
}

footer .footer__categories__news-contaier {
    height: 200px;
    width: 213px;
}

footer .footer__categories__news-contaier:nth-child(3) {
    margin: 0 -3px 0 0;
}

footer .footer__categories__news-container__p {
    padding: 8px 0 0 0;
}

footer .footer__menu {
    justify-content: space-between;
    padding: 0 0 0 8px;
    width: 70%;
}

footer .footer__signature {
    text-align: right;
    padding: 19px 16px 0 0;
}

}
