@media (min-width:960px) {

/*HEADER*/

header .header__logo {
    float: left;
}

header menu {
  display: block;
  float: right;
  padding: 0 0 120px 0;
}

header .header__menu768 {
  display: flex;
  float: right;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0;
  width: 650px;
}

header .header__menu768 li {
  display: inline-block;
}


header nav {
  clear: both;
}

header .nav__description-bg {
margin: 0 0 0 0;
}


/*MAIN*/

main .main__about-2 i.wrench {
  display: block;
  width: 27px;
    background: url(../img/wrench_sprite.png) top 0 right -27px no-repeat;
  }

  main .main__about-3 i.wrench {
    display: block;
      background: url(../img/wrench_sprite.png) top 0 right -2px no-repeat;
    }


main .main__testimonials-h1, main .main__testimonials-h2 {
  display: inline-block;
}

main .main__updates__container-img {
      background: url(../img/updates_sprite.png) 0 -143px no-repeat;
}

main .main__updates .main__updates__container:nth-child(3) .main__updates__container-img {
      background: url(../img/updates_sprite.png) -48px -143px no-repeat;
}

main .main__updates .main__updates__container:nth-child(4) .main__updates__container-img {
  background: url(../img/updates_sprite.png) -96px -143px no-repeat;
}

main span.main__updates__container-span-960 {
  display: inline;
}


/*FOOTER*/

footer .footer__copy {
  display: block;
  width: 213px;
}

footer .footer__copy-logo {
  font-size: 48px;
  line-height: 33.72px;
  color: #454545;
}

footer .footer__copy-logo span {
  color: #b9b9b9;
}

footer .footer__copy__copy {
  font-family: Georgia;
  font-style: italic;
  font-size: 16px;
  line-height: 24px;
  color: #c5c5c5;
}

footer .footer__copy__p {
  height: 200px;
  font-family: Open Sans Light;
  font-size: 16px;
  line-height: 24px;
  color: #787878;
  overflow: hidden;
}

footer .footer__categories__news-container-span {
  display: inline;
}

footer .footer__categories__news-container-span-cate {
  display: none;
}

footer .footer__categories__news-container-span {
  display: inline;
}

footer .footer__categories__news-contaier:last-child {
  display: none;
}



}
