@font-face {
    font-family: 'League Gothic Regular';
    src: url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'), url('../fonts/leaguegothic-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2'), url('../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Extrabold';
    src: url('../fonts/opensans-extrabold-webfont.woff2') format('woff2'), url('../fonts/opensans-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background: url(../img/background.png) 0 0 no-repeat;
    background-position: top center;
		font-family: League Gothic Regular;
}


/*MAIN*/

/*MAIN__ABOUT*/

main .main__about {
	position: relative;
	display: block;
	height: 599px;
	border-top: 1px solid #35273c;
	border-bottom: 1px solid #21333b;
	box-sizing: border-box;
	background: rgba(117,81,131,1);
background: -moz-linear-gradient(top, rgba(117,81,131,1) 0%, rgba(54,41,61,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(117,81,131,1)), color-stop(100%, rgba(54,41,61,1)));
background: -webkit-linear-gradient(top, rgba(117,81,131,1) 0%, rgba(54,41,61,1) 100%);
background: -o-linear-gradient(top, rgba(117,81,131,1) 0%, rgba(54,41,61,1) 100%);
background: -ms-linear-gradient(top, rgba(117,81,131,1) 0%, rgba(54,41,61,1) 100%);
background: linear-gradient(to bottom, rgba(117,81,131,1) 0%, rgba(54,41,61,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#755183', endColorstr='#36293d', GradientType=0 );
color: #fff;
text-shadow: 1px 1px #000;
}

main .main__about h3 {
	font-size: 30px;
}

	main .main__about p {
		font-family: Open Sans Light;
		font-size: 16px;
	}

	main .main__about span {
font-style: 18px;
}

main .main__about span:hover {
text-shadow: 0 0 20px #fff;
}




/*MAIN__CONTENT*/

main .main__content {
	display: block;
	height: 1210px;
	background: grey;
	border-top: 1px solid #12191f;
	box-sizing: border-box;
}
