@font-face {
    font-family: 'League Gothic Regular';
    src: url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'), url('../fonts/leaguegothic-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2'), url('../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Extrabold';
    src: url('../fonts/opensans-extrabold-webfont.woff2') format('woff2'), url('../fonts/opensans-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background: url(../img/background.png) 0 0 no-repeat;
}


/*HEADER*/

header {
    font-family: League Gothic Regular;
}

.header__logo {
    position: relative;
    font-size: 48px;
    color: #ffffff;
    text-shadow: -1px 2px #a7959c;
}

.header__logo  span {
  color: #745083;
  position: absolute;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
}

.header__logo:after {
  content: 'ER';
  color:  #33263a;
}

menu .menu__ul {
  display: block;
  margin: 0 auto;
  background-color: rgba(54, 41, 62, 0.9);
  height: 257px;
  width: 244px;
  list-style: none;
  border: 1px solid #051116;
  border-radius: 9px;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}

menu .menu__list {
  display: block;
  float: right;
  height: 47px;
  width: 243px;
  border-top: 1px solid #5f486a;
  border-bottom: 1px solid #36283e;
  box-sizing: border-box;
}

.menu__list:first-child>.menu__link {
  text-decoration: underline;
}

.menu__list:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.menu__list:last-child {
  border-bottom: none;
}

/*HEADER ALIGNMENT*/

.menu__list:nth-child(2),
.menu__list:nth-child(2)>.menu__link {
  height: 42px;
}

.menu__list:nth-child(3),
.menu__list:nth-child(3)>.menu__link {
  height: 41px;
}

.menu__list:nth-child(4),
.menu__list:nth-child(4)>.menu__link {
  height: 42px;
}

.menu__list:nth-child(5),
.menu__list:nth-child(5)>.menu__link {
  height: 44px;
}

menu span:first-child {
  display: block;
  height: 30px;
  width: 100px;
  padding: 3px 0 0 0;
  letter-spacing: -0.4px;
  border-bottom: 2px solid #edbfff;
}

/*HEADER ALIGNMENT: END*/


menu .menu__link {
  display: block;
  float: right;
  height: 47px;
  width: 243px;
  color: #ffffff;
  text-decoration: none;
  font-size: 24px;
  line-height: 42px;
  text-align: center;
  box-sizing: border-box;
}

menu .menu__link:hover {
  display: block;
  float: right;
  height: 45px;
  width: 243px;
  background-color: #241c2a;
  border-bottom: 2px solid #edbfff;
  text-shadow: 0 0 2px #fff;
  box-sizing: border-box;
}

.menu__list:first-child>.menu__link:hover {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.menu__list:last-child>.menu__link:hover {
  height: 40px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  box-sizing: border-box;
}

.menu__list:nth-child(2)>.menu__link:hover,
.menu__list:nth-child(4)>.menu__link:hover,
.menu__list:nth-child(6)>.menu__link:hover {
  height: 40px;
}

.menu__list:nth-child(3)>.menu__link:hover {
  height: 39px;
}

.menu__list:nth-child(5)>.menu__link:hover {
  height: 42px;
}
