body {
  height: 1200px;
  background: rgb(76,76,76); /* Old browsers */
  background: linear-gradient(to bottom,  rgb(48, 48, 48) 0%,rgba(19,19,19,1) 100%);
  font-family: 'Space Mono', monospace;
}

.content {
  padding: 100px 100px 25px 100px;
}

/*Dropdown menu*/

nav {
  display: block;
  height: 40px;
  padding: 5px  0 5px 0;
  background-color: DarkOrange;
  border-bottom: 1px solid black;
  box-shadow: 1px 1px 1px black;
}

nav ul {
  display: flex;
  justify-content: space-around;;
  align-content: center;
}

nav ul li {
  position: relative;
}

.emoji {
  display: block;
  width: 20px;
  height: 20px;
}

.dropdown-submenu {
  display: none;
  flex-direction: column;
  position: absolute;
}

.dropdown-submenu-submenu {
  display: none;
  flex-direction: column;
  position: absolute;
  left: 152px;
  top: 0;
}

.dropdown-initial-a,
.dropdown-drop-a,
.dropdown-drop-drop-a {
  display: block;
  cursor: pointer;
  padding: 10px 0 10px 0;
  height: 20px;
  width: 150px;
  color: black;
  background-color: gold;
  text-decoration: none;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 1px 1px 1px black;
}

.secret {
  position: absolute;
  color: gold;
  opacity: 0;
  top: 100px;
  left: -500px;
  text-align: center;
}

.one {
  background-image: url(../img/one.png);
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 15px 12px;
}

.two {
  background-image: url(../img/hands.png);
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 5px 12px;
}

.three {
  background-image: url(../img/uni.png);
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 15px 15px;
}


.dropdown-initial-a:hover,
.dropdown-drop-a:hover,
.dropdown-drop-drop-a:hover {
  background-color: #faf357;
}

.dropdown-sbmenu-submenu-submenu {
  display: none;
}

.wrapper {
  padding-top: 50px;
  background: url('../img/bg.png') top 37px center  no-repeat;
  height: 690px;
  background-size: 673px 653px;
}

img::selection {
  background: rgba(255, 0, 0, 0);;
}

h1 {
  font-size: 42px;
  text-align: center;
  font-weight: bold;
  color: Gold;
}

h1::selection {
  background: #000;
}

h1 span {
  font-size: 16px;
}

span::selection {
background: #000;
}

.selectbox {
  text-align: center;
}

.selectbox label {
  display: block;
  color: gold;
}

.selectbox::selection {
  background: #000;
}

h6::selection {
  background: #000;
}

li::selection {
  background: #000;
}

label::selection {
  background: #000;
}

p::selection {
  background: #000;
}

/*jQuery checkbox*/

.j-check {
  float: left;
}

.j-check h6 {
  line-height: 45px;
  color: gold;
}

.iCheck-label{
  color: gold;
}


/*CSS checkbox*/

.css-check h6 {
  line-height: 45px;
}

.css-check {
  float: right;
  color: gold;
}

.css-check input[type=checkbox] {
  position: absolute;
  display: none;
}

.css-checkbox:before {
  content: ' ';
  display: inline-block;
  width: 17px;
  height: 17px;
  background: url(../img/css-check.png);
  position: relative;
  top: 3px;
  margin-left: -22px;
}

.css-check input[type=checkbox]:checked + label:before {
  background-position: -18px 0;
}
