body {
  background-image: url("../img/background.png");
  font-family: tahoma regular;
}

.wrapper {
  width: 1000px;
  height: 990px;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,1);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,1);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,1);
}
/*HEADER*/

.logo {
  padding-left: 28px;
  padding-top: 11px;
}

.contacts {
  float: right;
  font-size: 12px;
  line-height: 14px;
  color: #128aa7;
  text-shadow: 0px 1px #128aa7;
  padding-top: 11px;
  padding-right: 42px;
}

.contacts>p:first-child {
  font-weight: bold;
  line-height: 22px;
}

.countries {
  clear: both;
  float: right;
  padding-top: 35px;
  padding-right: 45px;
}

.countries_list {
  clear: both;
  float: right;
  padding-right: 42px;
  padding-bottom: 9px;
}

.countries_list>li {
  display: inline;
}

.countries_list>li:nth-child(5) {
  padding-right: 6px;
}

.countries_list>li:nth-child(4) {
  padding-right: 15px;
}
.countries_list>li:nth-child(3) {
  padding-right: 24px;
}
.countries_list>li:nth-child(2) {
  padding-right: 26px;
}
.countries_list>li:nth-child(1) {
  padding-right: 26px;
}
.countries_list>li>a {
  padding-right: 1px;
  font-size: 10px;
  color: #128aa7;
}
.photo {
  margin-top: -3px;
}
/*MENU*/
ul.menu {
  display: block;
  width: 1000px;
  height: 28px;
  margin-top: -3px;
  border-top: 1px solid #cacbcb;
  border-bottom: 1px solid #000;
  padding: 0;
  list-style: none;
  background-color: #333333;
  background-size: cover;
  /*background-size: 1000px;*/
  text-align: center;
  font-size: 14px;
  -webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,1);
  -moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,1);
  box-shadow: 0px 6px 5px 0px rgba(0,0,0,1);
}

ul:after {
  display: block;
  content: '';
  clear: both;
  float: none;
}
ul.menu>li {
  width: 142px;
  float: left;
  position: relative;
}
ul.menu>li>a {
  display: block;
  padding: 10px;
  color: #ffffff;
  text-decoration: none;
}
ul.submenu {
display: none;
position: absolute;
width: 143px;
margin-top: -4px;
text-outline: 37px;
left: 0;
background-color: #303030;
-webkit-box-shadow: 0px 6px 17px 0px rgba(0,0,0,0.92);
-moz-box-shadow: 0px 6px 17px 0px rgba(0,0,0,0.92);
box-shadow: 0px 6px 17px 0px rgba(0,0,0,0.92);
}
ul.submenu>li {
  display: block;
}
ul.submenu>li>a {
  display: block;
  padding: 10px;
  color: #ffffff;
  text-decoration: none;
  line-height: 5px;
}
ul.submenu>li>a:hover {
  text-decoration: none;
}
ul.menu>li:hover>ul.submenu {
  display: block;
}
/*COLUMNS*/
.background_column {
  height: 542px;
  float: left;
  clear: both;
  color: #424c43;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
.info,
.news {
  font-size: 18px;
  font-weight: bold;
}
.left_column {
  width: 210px;
  background-color: #edeef0;
  float: left;
  clear: both;
}
.center_column {
  width: 580px;
  float: left;
}
.right_column {
  width: 210px;
  float: right;
}
.copy {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  font-size: 12px;
  color: white;
}
