@import 'fonts.css';
* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 200px auto;
  width: 400px;
  height: 50vh;
  background-color: green;
  font-size: 16px;
}


.container h2 {
  font-family: 'PT Sans', sans-serif;
  font-size: 2em;
}

.inside {
  background-color: purple;
  height: 50%;
  width: 100%;
}
