@import 'source/reset'
@import 'source/var'
@import 'source/mix'

body
  background-color: $white
  box-sizing: border-box
  margin: 0 auto
  padding: 40px
  width: 1240px

.logo
  float: left
  &-cover
    display: block
    float: right
    margin: -5px 0
  &__title
    color: $logo-color
    float: right
    font-family: Ubuntu medium
    font-size: 30px
  &__subtitle
    color: $logo-subtitle-color
    font-family: Ubuntu Light
    font-size: 12px

.media
  float: right
  +e(list)
    display: inline-block
    text-decoration: none
    &:nth-child(2) > a
      background-position: -9px 0
      &:hover
        background-position: -9px -17px
    &:nth-child(3) > a
      background-position: -25px 0
      &:hover
        background-position: -25px -17px
    &:nth-child(4) > a
      background-position: -41px 0
      &:hover
        background-position: -41px -17px
    &:nth-child(5) > a
      background-position: -58px 0
      &:hover
        background-position: -58px -17px
  +e(link)
    background: url('../img/social.png') 8px 0 no-repeat
    display: block
    height: 16px
    text-decoration: none
    width: 16px
    &:hover
      background: url('../img/social.png') 8px -17px no-repeat

.menu
  background-color: $element-filler
  clear: both
  height: 56px
  width: 1160px
  &__item
    color: $white
    font-family: Ubuntu Condensed
    font-size: 14px
    text-decoration: none
  &__search
    float: right
