@import 'source/reset'
@import 'source/fonts'
@import 'source/var'
@import 'source/mix'

body
  background-color: $white
  box-sizing: border-box
  font-family: 'ubuntu', sans-serif
  margin: 0 auto
  padding: 40px
  width: 1240px

.logo
  float: left
  &-cover
    display: block
    float: right
    margin: -5px 0
  &__title
    color: $logo-color
    float: right
    font-size: 30px
  &__subtitle
    color: $logo-subtitle-color
    font-size: 12px

.media
  float: right
  +e(list)
    display: inline-block
    text-decoration: none
    &:nth-child(2) > a
      background-position: -9px 0
      &:hover
        background-position: -9px -17px
    &:nth-child(3) > a
      background-position: -25px 0
      &:hover
        background-position: -25px -17px
    &:nth-child(4) > a
      background-position: -41px 0
      &:hover
        background-position: -41px -17px
    &:nth-child(5) > a
      background-position: -58px 0
      &:hover
        background-position: -58px -17px
  +e(link)
    background: url('../img/social.png') 8px 0 no-repeat
    display: block
    height: 16px
    text-decoration: none
    width: 16px
    &:hover
      background: url('../img/social.png') 8px -17px no-repeat

.menu
  background-color: $element-filler
  clear: both
  height: 56px
  margin: 40px 0
  width: 1160px
  &__item
    border-right: $border-color-dark
    color: $white
    display: inline-block
    font-family: 'Ubuntu Condensed', sans-serif
    font-size: 14px
    padding: 21px 0
    text-align: center
    text-decoration: none
    width: 114px
    &:first-child
      background-color: $color-skyblue
    &:hover
      color: $color-gold
      cursor: pointer
  &__search
    background: url('../img/search.png') 212px 12px no-repeat
    background-color: $input-text-bg-color
    border: $border-color-dark
    float: right
    height: 38px
    margin: 8px
    width: 240px
    &:focus
      outline: none
    &::-webkit-input-placeholder
      color: $font-color-input
      font-family: Arial Regular
      font-size: 19px
      padding: 14px

.jcarousel
  overflow: hidden
  position: relative
  width: 1160px
  ul
    list-style: none
    margin: 0
    padding: 0
    position: relative
    width: 20000em
    li
      float: left

.jcarousel-pagination
  display: flex
  justify-content: space-between
  left: 50%
  margin-top: -34px
  position: absolute
  width: 75px
  a
    background-color: $white
    border: 3px solid $white
    display: inline-block
    height: 9px
    width: 9px

#active
  background-color: $black

.description
  display: flex
  justify-content: space-between
  &-item
    display: block
    width: 360px
    &__count
      color: $color-dimgray
      float: left
      font-family: Ubuntu Medium
      font-size: 90px
      width: 120px
      &__content
        float: right
