@import source/reset
@import source/fonts
@import source/var
@import source/mix
@import source/layout

.header
  margin-bottom: 75px

.logo
  float: left
  &-cover
    display: block
    float: right
    margin: -5px 0
  &__title
    color: $logo-color
    float: right
    font-size: 30px
  &__subtitle
    color: $logo-subtitle-color
    font-size: 12px
    font-weight: lighter

.media
  float: right
  +e(list)
    display: inline-block
    margin-left: 10px
    text-decoration-line: none
    &:nth-child(2) > a
      background-position: -9px 0
      &:hover
        background-position: -9px -17px
    &:nth-child(3) > a
      background-position: -25px 0
      &:hover
        background-position: -25px -17px
    &:nth-child(4) > a
      background-position: -41px 0
      &:hover
        background-position: -41px -17px
    &:nth-child(5) > a
      background-position: -58px 0
      &:hover
        background-position: -58px -17px
  +e(link)
    background: url('../img/social.png') 8px 0 no-repeat
    display: block
    height: 16px
    text-decoration: none
    width: 16px
    &:hover
      background: url('../img/social.png') 8px -17px no-repeat

.menu
  background-color: $element-filler
  clear: both
  height: 56px
  margin: 0 0 70px 0
  position: relative
  top: 30px
  width: 1160px
  &__item
    border-right: $border-color-dark
    color: $white
    display: inline-block
    font-family: 'Ubuntu Condensed', sans-serif
    font-size: 14px
    padding: 21px 0
    text-align: center
    text-decoration: none
    width: 114px
    &:first-child
      background-color: $color-skyblue
    &:hover
      color: $color-gold
      cursor: pointer
  &__search
    background: url('../img/search.png') 212px 12px no-repeat
    background-color: $input-text-bg-color
    border: $border-color-dark
    float: right
    height: 38px
    margin: 8px
    width: 240px
    &:focus
      outline: 1px solid $font-color-input
    &::-webkit-input-placeholder
      color: $font-color-input
      font-family: Arial Regular, sans-serif
      font-size: 12px
      padding: 14px

.jcarousel
  overflow: hidden
  position: relative
  width: 1160px
  ul
    list-style: none
    margin: 0
    padding: 0
    position: relative
    width: 20000em
    li
      float: left

.jcarousel-pagination
  display: flex
  justify-content: space-between
  left: 50%
  margin-top: -34px
  position: absolute
  width: 75px
  a
    background-color: $white
    border: 3px solid $white
    display: inline-block
    height: 9px
    width: 9px

#active
  background-color: $black

.description
  display: flex
  justify-content: space-between
  &-item
    display: block
    width: 360px
    &__count
      color: $color-dimgray
      float: left
      font-family: Ubuntu, sans-serif
      font-size: 90px
      height: 175px
      width: 85px
    &__content
      float: right
      margin-bottom: 87px
      padding: 15px
      width: 235px
    &__name
      font-size: 20px
      padding: 16px 0
    &__body
      color: $logo-subtitle-color
      font-size: 13px
      padding-bottom: 24px
    &__link
      text-decoration: none
    &__more
      color: $black
      font-size: 13px
      &:hover
        color: $color-skyblue

.services-wrap
  background-color: $element-filler
  display: block
  height: 500px

.services
  +center
  &__heading
    color: $white
    font-size: 24px
    padding: 48px 0 47px
  &__content
    display: flex
    justify-content: space-between
  &__list-item
    display: flex
    justify-content: space-between
    flex-direction: column
    height: 310px
    &:hover
      .services__link
        color: $color-gold
      .services__link-image--mask
        background-color: $color-skyblue
        background-image: url('../img/cross.png')
        background-repeat: no-repeat
        background-position: center
        display: block
        height: 260px
        transition: opacity 0.2s ease-in
        opacity: 0.8
        width: 260px
  &__link
    color: $white
    text-align: center
    text-decoration: none
    font-size: 16px
    &-image--mask
      opacity: 0
  &__link-image--one
    background-image: url('../img/service1.png')
    background-position: center
    height: 260px
    width: 260px
  &__link-image--two
    @extend .services__link-image--one
    background-image: url('../img/service2.png')
  &__link-image--three
    @extend .services__link-image--one
    background-image: url('../img/service3.png')
  &__link-image--four
    @extend .services__link-image--one
    background-image: url('../img/service4.png')


.updates-wrap
  background-color: $color-dimgray

.updates
  +center
  display: flex
  height: 545px
  justify-content: space-between
  padding: 65px 0 83px

.news
  display: flex
  flex-direction: column
  height: 396px
  justify-content: space-between
  &__cell
    display: flex
    justify-content: space-between
    flex-direction: row
    margin-top: 30px
  &__section-name
    color: $element-filler
    font-size: 24px
    padding-bottom: 20px
    position: relative
  &__image
    background-image: url('../img/news1.png')
    float: left
    margin-right: 33px
    height: 150px
    width: 150px
    &--two
      background-image: url('../img/news2.png')
  &__month
    background-color: $color-skyblue
    box-sizing: border-box
    color: $white
    font-size: 15px
    height: 40px
    width: 40px
    text-align: center
    padding: 10px 0
    margin-top: 12px
    margin-left: -23px
  &__date
    @extend .news__month
    color: $black
    margin-top: 0
    background-color: $color-gold
  &__content
    height: 150px
    overflow: hidden
    width: 380px
  &__heading
    color: $black
    font-size: 16px
    line-height: 20px
    text-decoration: none
    &:hover
      color: $color-skyblue
  &__subheading
    color: $logo-subtitle-color
    font-family: Arial
    line-height: 20px
    font-size: 13px
    padding-bottom: 10px
    &--link
      color: $color-skyblue
      text-decoration: none
  &__composition
    @extend .news__subheading

.banners
  margin-left: 40px
  &__heading
    @extend .news__section-name
  &__accord-element
    display: flex
    border: 1px solid $color-lightgray
    background-color: $white
    justify-content: flex-start
    width: 560px
    height: 39px
    &:hover
      background-color: $color-gold
      border: 1px solid $color-gold
      color: $white
      cursor: pointer
      .banners__accord-sign
        border-right: 1px solid $color-gold-lighten
      .banners__accord__name
        border-left: 1px solid $color-gold
  &__accord-sign
    display: flex
    border-right: 1px solid $color-lightgray
    align-items: center
    justify-content: center
    width: 37px
  &__accord__name
    display: flex
    border-left: 1px solid $color-lightgray
    align-items: center
    justify-content: center
    padding-left: 13px
  &__accord-content
    color: $logo-subtitle-color
    height: 130px
    line-height: 20px
    padding: 37px
    font-family: Arial
    font-size: 13px

.sponsors
  +center
  align-items: center
  display: flex
  height: 240px
  justify-content: space-between
  img
    height: 64px

.footer
  background-color: $element-filler
  height: 385px
  &__references
    display: flex
    height: 325px
    justify-content: space-between
    width: 1160px
    margin: 0 auto
    section
      margin-top: 63px
      display: flex
      flex-direction: column
      width: 260px
      a
        color: $color-footer-link
        border-bottom: 1px solid $color-footer-border
        font-size: 13px
        line-height: 36px
        text-decoration: none
        &:last-of-type
          border: none
        &:hover
          color: $color-skyblue
  &__reference-heading
    color: $white
    font-size: 16px
    padding-bottom: 30px
  &__contacts--wrapper
    background-color: $input-text-bg-color
  &__contacts
    align-items: center
    color: $color-footer-link
    font-size: 12px
    display: flex
    justify-content: flex-start
    margin: 0 auto
    width: 1160px
    height: 60px
    div
      display: block
      line-height: 20px
  &__adress
    background: url('../img/gps.png') no-repeat 0 center
    padding-left: 25px
    margin-right: 32px
  &__phone
    background: url('../img/phone.png') no-repeat 0 center
    padding-left: 25px
    margin-right: 32px
  &__email
    background: url('../img/letter.png') no-repeat 0 center
    padding-left: 25px
    margin-right: 32px
  &__copy
    margin-left: auto