@font-face {
    font-family: 'League Gothic Regular';
    src: url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'), url('../fonts/leaguegothic-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2'), url('../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Extrabold';
    src: url('../fonts/opensans-extrabold-webfont.woff2') format('woff2'), url('../fonts/opensans-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

menu {
  font-family: league gothic regular;
  display: block;
  margin: 15px 15px 15px 15px;
}


.menu__ul {
  display: block;
  height: 257px;
  width: 246px;
  list-style: none;
}

menu .menu__list {
  position: relative;
  display: block;
  float: left;
  height: 47px;
  width: 246px;
  box-sizing: border-box;
  cursor: pointer;
}

menu .menu__dropdownd-list {
  display: block;
  float: right;
  height: 41px;
  width: 243px;
  border-top: 1px solid #5f486a;
  border-bottom: 1px solid #36283e;
  box-sizing: border-box;
}


/*MENU ALIGNMENT*/

.menu__dropdownd-list:nth-child(2),
.menu__dropdown-link:nth-child(2) {
  height: 42px;
}

.menu__dropdownd-list:nth-child(3),
.menu__dropdown-link:nth-child(3) {
  height: 42px;
}

.menu__dropdownd-list:nth-child(4) {
  height: 44px
}
.menu__dropdown>.menu__dropdownd-list:nth-child(4)>.menu__dropdown-link:hover {
  height: 42px;
}

.menu__dropdown>.menu__dropdownd-list:nth-child(5)>.menu__dropdown-link:hover {
border-bottom-right-radius: 6px;
border-bottom-left-radius: 6px;
}

menu .menu__dropdownd-list:last-child {
  border-bottom: none;
}

.menu__align-1 {
  display: block;
  margin: 4px 0 0 -2px;
}

.menu__align-2 {
  display: block;
  margin: -2px 0 0 -2px;
}

.menu__align-3,
.menu__align-4,
.menu__align-5 {
  display: block;
  margin: -1px 0 0 -1px;
}

.menu__align-6 {
  display: block;
  margin: -4px 0 0 -1px;
}

/*MENU ALIGNMENT - END*/

.line {
  display: block;
  position: absolute;
  width: 47px;
  margin: 35px 0 0 98px;
  border-bottom: 2px solid #edbfff;
}

menu .menu__link,
.menu__dropdown-link {
  display: block;
  float: left;
  height: 41px;
  width: 246px;
  color: #ffffff;
  text-decoration: none;
  font-size: 24px;
  line-height: 42px;
  text-align: center;
  box-sizing: border-box;
}

menu .menu__link {
  color: #fff;
}

menu .menu__dropdown {
display: none;
position: absolute;
left: -1px;
top: 47px;
margin: 0;
padding: 0;
width: 246px;
background-color: rgba(54, 41, 62, 0.9);
border: 1px solid #051116;
border-top: none;
border-bottom-right-radius: 8px;
border-bottom-left-radius:  8px;
-webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
box-sizing: border-box;
}

menu .menu__dropdown-link {
  display: block;
  float: left;
  height: 45px;
  width: 243px;
  text-decoration: none;
  font-size: 24px;
  line-height: 42px;
  text-align: center;
  box-sizing: border-box;
}

.menu__list:hover .menu__dropdown {
  display: block;
}

.menu__dropdown-link:hover {
  display: block;
  float: right;
  height: 40px;
  width: 243px;
  background-color: #241c2a;
  border-bottom: 2px solid #edbfff;
  text-shadow: 0 0 2px #fff;
  box-sizing: border-box;
}


menu .menu__list:hover {
  display: block;
  float: right;
  height: 48px;
  width: 246px;
  background-color: rgba(54, 41, 62, 0.9);
  border: 1px solid #051116;
  border-bottom: 1px solid #36283e;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  box-sizing: border-box;
}
