.border
{
    border-bottom:1px solid #36283e;
    position:relative;
    z-index:10
}

.border:before
{
    content:"";
    display:block;
    position:absolute;
    z-index:-1;
    top: 2px;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom:2px solid #edbfff;
}
