@font-face {
font-family: 'Helvetica Neue Regular';
src: url('../fonts/helveticaneue-webfont.woff2') format('woff2'),
     url('../fonts/helveticaneue-webfont.woff') format('woff');
font-weight: bold;
font-style: normal;
}

.wrapper {
  margin: 0 auto;
  width: 1215px;
  /*height: 1200px;*/
  background-image: url("../img/background.png");
  background-size: auto;
  background-repeat: no-repeat;
}

.menu {
  margin: 0 auto;
  height: 36px;
  width: 1215px;
  background-color: #074a87;
}

.credentials_wrapper {
  margin: 0 auto;
  display: block;
  height: 1028px;
  width: 1215px;
}

.credentials {
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  /*padding-top: 213px;
  padding-right: 302px;
  padding-bottom: 202px;
  padding-left: 353px;*/
  height: 613px;
  width: 559px;
  background-color: rgba(0, 0, 0, 0.5);;
}
