html {
  background: radial-gradient(#FFF176, #F57F17);
  display: flex;
  min-height: 100%;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 60px;
    font-weight: 100;
    color: #F57F17;
    text-align: center;
}

.list {
    margin: 0 0 40px;
    padding: 0;
    list-style: none;
    color: gray;
}

.wrapper {
  background: white;
  padding: 40px 100px;
  box-shadow: 0px 50px 30px -30px rgba(0,0,0,0.3);
  margin-bottom: 50px;
  box-sizing: border-box;
  border-radius: 10px;
}

.list__item {
    position: relative;
    font-size: 18px;
    padding: 10px;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: all 300ms ease-in;
}

.list__item:hover {
    background-color: rgba(125, 150, 12, 0.1);
    border: 1px solid #F57F17;

}

.item-delete {
    display: none;
    position: absolute;
    right: 35px;
    justify-content: center;
    align-items: center;
    top: 16px;
}

.item-edit {
    display: none;
    position: absolute;
    right: 60px;
    justify-content: center;
    align-items: center;
    top: 16px;
}

.list__item,
.apply:hover,
.item-edit:hover,
.item-delete:hover {
    cursor: pointer;
}

.list__item:hover .item-edit {
  display: flex;
  background: radial-gradient(#e9cf22, #ffc700);
  border-radius: 50px;
  width: 10px;
  height: 10px;
}

.list__item:hover .item-delete {
  display: flex;
  background: radial-gradient(#ff3d00, #ec2f0e);
  border-radius: 50px;
  width: 10px;
  height: 10px;
}

.apply {
  display: flex;
  background: radial-gradient(#7afb45, #2da714);
  border-radius: 50px;
  width: 10px;
  height: 10px;
  position: absolute;
  right: 65px;
  justify-content: center;
  align-items: center;
  top: 16px;
}

.controls {
    display: flex;
    justify-content: flex-between;
    align-items: flex-start;
}

input[type="text"] {
  padding: 10px 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: block;
  width: 400px;
  /*margin-bottom: 20px;*/
  margin-left: 5px;
  margin-right: 20px;
  box-sizing: border-box;
  outline: none;
}

input[type="text"]:focus {
  border-color: #FF6F00
}

.item-add {
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  background: #FF6F00;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  cursor: pointer;
}

.item-add:focus {
  outline: none;
}

.item-add:hover {
  background: #ed6801;
}

.list__item--edit {
    position: relative;
}

.newInput {
  position: relative;
  font-size: 18px;
  padding: 10px;
  width: 450px;
  color: black;
  margin-left: 5px;
  border: 1px solid #F57F17;
  border-radius: 10px;
  transition: all 300ms ease-in;
}

.newInput:focus {
  outline: none;
}
