@font-face {
    font-family: 'oswald_regularregular';
    src: url('../fonts/oswald-regular-webfont.eot');
    src: url('../fonts/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-regular-webfont.woff2') format('woff2'),
         url('../fonts/oswald-regular-webfont.woff') format('woff'),
         url('../fonts/oswald-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gooddogregular';
    src: url('../fonts/gooddog-webfont.eot');
    src: url('../fonts/gooddog-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gooddog-webfont.woff2') format('woff2'),
         url('../fonts/gooddog-webfont.woff') format('woff'),
         url('../fonts/gooddog-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	background-color: #7c95bb;
}

.tab:hover {
	background-color: rgb(251, 154, 154);
}

.tab:hover .links {
	color: #8000FF;
}

.tabs li a.active {
	border: 1px solid #f5caac;
	background-color: #f5caac;
}