.border {
  margin: 45px;
  padding: 0px;
  border-bottom: 1px solid black;
}
div {
  font-family: avenir next;
  margin-right: 70px;
  margin-left: 70px;
}
.header {
  text-align: center;
}
.name {
  font-size: 30px;
  font-weight:bold;
}
img {
  height: 350px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  border-radius: 25px;
  -webkit-box-shadow: 20px 20px 18px 2px rgb(195, 190, 69);
  -moz-box-shadow: 20px 20px 18px 2px rgba(71,67,25,1);
  box-shadow: 20px 20px 18px 2px rgba(71,67,25,1);
}
.role {
  font-size: 22px;
  padding-bottom: 25px;
}
.objective {
  font-size: 22px;
  margin-top: 20px;
  padding-bottom: 25px;
}
ul {
  font-size: 22px;
  padding-bottom: 25px;
}
.phone {
  font-size: 22px;
  margin-top: 20px;
  padding-bottom: 30px;
  width: 150px;
}
.vk {
  font-size: 22px;
  padding-bottom: 10px;
}
.feedback {
  font-size: 22px;
  padding-top: 25px
}
